* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.right{
    text-align: right;
}

/* =========head========= */

.head img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}
/* ==========thanh dieu huong======== */

.fixed {
  position: sticky;
  top: 1px;
  border-bottom: 1px solid #e2dfda;
}

.nav {
    height: 7rem;
    padding: 0 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #FFFFFF;
    
}

.nav a {
  text-decoration: none;
  padding: 7px 20px;
  color: black;
  font-size: 1.8rem;
}
.nav a:hover {
  color: rgba(23, 58, 218, 0.685);
}

/* ==========than web======== */
.popular {
    padding: 20px 60px;
    border-top: 1px solid #e2dfda;
    background-color: #F5F5F5;
    
}
.popular .row {
  display: flex;
  gap: 55px;
  margin-top: 30px;
 
}

.popular .row .item {
   border-radius: 5px;
   border: 1px solid #e2dfda;
   background-color: #FFFFFF;
}

.popular .row .item:hover {
  box-shadow: 0 18px 36px 0px rgba(0, 0, 0, 0.2);
}

.popular .row .item img {
  border-radius: 5px 5px 3px 3px;
  width: 30rem;
  height: 23rem;
  object-position: top;
  object-fit: cover;
}

    .popular .row .desc {
        padding: 8px 12px 8px;
        background-color: #FFFFFF;
    }

.popular .row .desc .title {
  font-weight: 500px;
  font-size: 1.8rem;
  color: black;
  font-weight:bold;
  text-decoration: none;
}

.popular .row .desc .author {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.popular .row .desc hr {
  width: 7%;
  margin-left: 0;
  margin-top: 10px;
}

.popular .item .foot,
.popular .item .like,
.popular .item .view {
  display: flex;

}

.popular .item .foot-left {
  display: flex;


}

.popular .item .foot {
  justify-content: space-between;
}

.popular .item .like,
.popular .item .view {
  gap: 5px;

}

.popular .item .view {
  margin-left: 18px;
  
}
.pagination {
    display: inline-block;
    height: 50px;
    margin-top:20px;
    margin-right:50px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    text-decoration: none;
    margin: 0 4px;
}
    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }

.pagination a:hover:not(.active) {
    background-color: #ddd;
}





