* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.right {
  text-align: right;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

h3 {
  margin-top: 0;
}

/* =========head========= */

.head img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
/* ==========thanh dieu huong======== */

.fixed {
  position: sticky;
  top: 1px;
  border-bottom: 1px solid #e2dfda;
}

.nav {
  width: 100%;
  height: 7rem;
  padding: 0 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #ffffff;
}

.nav a {
  padding: 7px 20px;
  color: black;
  font-size: 1.8rem;
}
.nav a:hover {
  color: rgba(23, 58, 218, 0.685);
}

/* ==========than web======== */
.popular {
  width: 100vw;
  height: auto;
  padding: 20px 40px 70px;
  border-top: 1px solid #e2dfda;
  background-color: #f5f5f5;
}
.popular .row {
  width: 95%;
  display: flex;
  gap: 3%;
  margin-top: 60px;
  height: 400px;
  margin-left: 20px;
}

.popular .row .item {
  width: 25%;
  height: auto;
  /* height: 598px; */
  border-radius: 15px;
  border: 1px solid #e2dfda;
  background-color: #ffffff;
}

.popular .row .item:hover {
  box-shadow: 0 18px 36px 0px rgba(0, 0, 0, 0.2);
}

.popular .row .item img {
  border-radius: 15px 15px 10px 10px;
  height: 25rem;
  width: 100%;
  object-position: top;
  object-fit: cover;
}

.popular .row .desc {
  padding: 8px 12px 8px;
  background-color: #ffffff;
}

.popular .row .desc a {
  height: 4.2rem;
}

.popular .row .desc .title {
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popular .row .desc .author {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popular .row .desc .type {
  overflow: hidden;
  text-overflow: ellipsis;
}

.popular .row .desc hr {
  width: 7%;
  margin-left: 0;
  margin-top: 10px;
}

.popular .item .foot,
.popular .item .like,
.popular .item .view {
  display: flex;
}

.popular .item .foot-left {
  display: flex;
}

.popular .item .foot {
  justify-content: space-between;
}

.popular .item .like,
.popular .item .view {
  gap: 5px;
}

.popular .item .view {
  margin-left: 18px;
}
.pagination {
  display: inline-block;
  height: 50px;
  margin-top: 20px;
  margin-right: 50px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  transition: background-color 0.3s;
  text-decoration: none;
  margin: 0 4px;
}
.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* =============== chân trang ===================== */

.footer .row {
  display: flex;
  background-color: #ffffff;
  padding: 30px 40px 50px;
  border-top: 1px solid #e2dfda;
}

.footer .row .desc {
  margin-top: 0;
  padding-bottom: 2rem;
  font-weight: 700;
  color: #e2dfda;
}

.footer .row .column {
  width: 30%;
}

.footer .row .column:first-child {
  width: 40%;
}

.footer .row .sosials {
  display: flex;
  gap: 40px;
  margin-top: 35px;
}

.footer .column li {
  margin-bottom: 8px;
  color: #696968;
  font-size: 14px;
}

.footer .column li strong {
  color: #000000;
  font-size: 18px;
}

.footer .column .title {
  color: #b2b416;
}

.footer .row li:first-of-type {
  margin-right: 50px;
}
